.cardleave {
  background-color: #9AF99B4A;
  border: 1px solid #9AF99B4A;
  border-radius: 12px;
  height: 240px;
  width: 260px;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cardleave img{
  width: 60px;
  height: 60px;
  margin: 0 auto 5px;
  margin-top: 20px;

}
h5{
  font-size: 18px;
}
button{
  cursor: pointer;
}